{% load static %}
{% include "trip/header.html" %}
<div class="container" style="margin: 50px 20px">
	<div class="about">
		<h4 style="font-size:24px">About TripPlanner</h4>
		<p>It is always fun to go on a trip, but a pain to make plans for it. You'll need to choose your destination, set the date, book the flight and hotel, figure out the locations of most popular tourist attractions and trendy restaurants. It is common to spend many hours, and even some money, reading through various travel guides, consulting a travel agency or Google your destination and try putting the pieces together from numerous travel notes.
		</p>
		<p>TripPlanner is an intelligent personal trip plan designer. We can customize a detailed travel itinerary that provides recommendations for tourists attractions and accommodations, as well as other userful travel tips. It is optimized by machine learning algorithms to find the best arrangment.</p>

		<p>This website is the class project for DS-GA 3001 - Advanced Python, which originates from a previous class project for DS-GA 1007 - Programming for Data Science. The front end is written in HTML, CSS and JavaScript, and backend deployed in Python and Django framework.</p>

 
	</div>	

	<div class="about" style="margin-right: 100px">
		<h4 style="font-size:24px">Team Members</h4>
		<div class="row text-center">

			<div class="col-xs-12 col-md-5 col-sm-5 col-lg-5">
	            <div class="thumbnail team-intro">
	                <img src="{% static 'trip/pics/whz.jpeg' %}" class="img-circle"/>
	                <div class="caption" style="font-size: 16px">
          				<h4 style="color: black; margin-bottom: 5px; font-size: 20px">Hezhi Wang</h4>
          				<hr>
          				Hezhi is a masters candidate in Data Science at NYU CDS and holds a B.S. in Mathematics and a minor in Computer Science. He interned as data scientist/engineer at Knotel, 7-Chord and Amazon. He is interested in machine learning and NLP. He enjoys playing LOL, basketball and violin.
		
          				<p style="width: 100%;padding: 0; margin: 0">
          					<a style="color: #333; font-size:1.5em" href="https://github.com/HezhiWang"><i class="fa fa-github fa-check-circle-o"></i></a>
          					<a style="color: #0077B5; font-size:1.5em" href="https://www.linkedin.com/in/hezhi-wang-5408b5101/"><i class="fa fa-linkedin fa-check-circle-o"></i></a>
          				</p>
        			</div>
	            </div>
			</div>

			<div class="col-xs-12 col-md-5 col-sm-5 col-lg-5">
	            <div class="thumbnail team-intro">
	                <img src="{% static 'trip/pics/hz.jpeg' %}" class="img-circle"/>
	                <div class="caption" style="font-size: 16px">
          				<h4 style="color: black; margin-bottom: 5px; font-size: 20px">Han Zhao</h4>
          				<hr>
          				Han is a masters candidate in Data Science at NYU CDS and holds a B.A. in Finance and B.S. in Statistics. She worked as summer analyst in data engineer department at BlackRock. She enjoys reading and movies.
						
          				<p style="width: 100%;padding: 0; margin: 0">
          					<a style="color: #333; font-size:1.5em" href="https://github.com/hzhao16"><i class="fa fa-github fa-check-circle-o"></i></a>
          					<a style="color: #0077B5; font-size:1.5em" href="https://www.linkedin.com/in/han-zhao-692944116/"><i class="fa fa-linkedin fa-check-circle-o"></i></a>
          				</p>
        			</div>
	            </div>
			</div>


		</div>
	</div>
</div>

{% include "trip/footer.html" %}