{% load static %}
{% include "trip/header.html" %}

<div class="container plan" style="height:auto; margin-bottom: 150px">

    <h2 style="text-align: center;">Your Itinerary in {{destination}}</h2>
    {% for day in schedule %}
    <table>
        <!-- Day -->
        <tr>
            <th colspan="6"><h4 class="plan">Day {{forloop.counter}}</h4></th>
        </tr>
        <!-- Section for Flight -->
        
        {% if day.flight %}
        <tr>
            <td colspan="6"><h5>Flight</h5></td>
        </tr>
        <tr>       
            <td>{{day.flight.0}} - {{day.flight.1}}</td>
            <td colspan="1">{{day.flight.2}} - {{day.flight.3}}</td>
            <td colspan="2" class="last">{{day.flight.4}}</td>
        </tr>
        {% endif %}
        <!-- Section for Attraction -->
        <tr>
            <td colspan="6"><h5>Attractions/Things To Do</h5></td>
        </tr>
        {% for attraction in day.attractions %}
        <!-- Attraction One -->
        <tr>       
            <td><h6>{{attraction.name}}</h6></td>
            <td colspan="1"></td>
            <td colspan="2" class='last'>{{attraction.time}}</td>
        </tr>
        <tr>
            <td colspan="6">Address: {{attraction.address}}</td>
        </tr>
        <tr>
            <td colspan="6">Description: {{attraction.desc}} </td>
        </tr>
        {% endfor %}

        <!-- Section for Hotel -->

        <tr>
            <td colspan="6"><h5>Hotels</h5></td>
        </tr>
        {% for hotel in day.hotel %}
        <tr>       
            <td><h6>{{hotel.name}}</h6></td>   <!-- (Add a link?) -->
            <td colspan="1">Score: {{hotel.score}}/10 (From {{hotel.reviews}} Reviews)</td>
            <td colspan="2" class="last">{{hotel.price}}</td>
        </tr>
        <tr>
            <td colspan="6">Address: {{hotel.address}}</td>
        </tr>
        {% endfor %}

        <!-- Section for Restaurant -->
        <tr>
            <td colspan="6"><h5>Restaurants</h5></td>
        </tr>
        <!-- Restaurant One-->
        {% for restaurant in day.restaurant %}
        <tr>       
            <td><h6>{{restaurant.name}}</h6></td>   <!-- (Add a link?) -->
            <td colspan="1">{{restaurant.type}} </td>
            <td colspan="2" class="last">{{restaurant.price}}</td>
        </tr>
        <tr>
            <td>Address: {{restaurant.address}} </td>
            <td colspan="5" class="last">Score: {{restaurant.score}}/5 (From {{restaurant.reviews}} Reviews)</td>
        </tr>
        {% endfor %}
    </table>
{% endfor %}

<a class="btn btn-danger btn-lg print-button" href="{% url 'search' %}" role="button">Make Another Plan</a>
<a href="javascript:window.print()" role="button" class="btn btn-success btn-lg print-button">Get Printable Version</a>
</div>  



<!-- <script type="text/javascript" src="index.js"></script> -->

<!-- footer starts -->

{% include "trip/footer.html" %}