{% load static %}
{% include "trip/header.html" %}

<div class="container plan" style="height:auto; margin-bottom: 150px">

    <h2 style="text-align: center;">Your Itinerary in {{destination}}</h2>
    {% if flight %}
    <table>
      <tr>
        <th colspan="4"><h4 class="plan">Flights</h4></th>
      </tr>
      <tr>
        <th colspan="4"><h5>Departure</h5></th>
      </tr>
      {% if flight.depart %}
      {% for f in flight.depart%}
      <tr>
        <td>{{f.depart}} - {{f.arrive}}</td>
        <td>{{f.departs_at}} - {{f.arrives_at}}</td>
        <td>{{f.number}}</td>
        <td class='last'>{{f.cabin}}</td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="4">Not Available</td>
      </tr>
      {% endif %}

      
      <tr>
        <th colspan="4"><h5>Return</h5></th>
      </tr>
      {% if flight.return %}
      {% for f in flight.return%}
      <tr>
        <td>{{f.depart}} - {{f.arrive}}</td>
        <td>{{f.departs_at}} - {{f.arrives_at}}</td>
        <td>{{f.number}}</td>
        <td class='last'>{{f.cabin}}</td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="4">Not Available</td>
      </tr>
      {% endif %}
      <tr>
        <td><h5>Total Price: </h5></td>
        <td colspan="3">$ {{flight.fare.total}} + $ {{flight.fare.tax}} Tax</td>
      </tr>
    </table>
    {% endif %}

    {% for day in schedule %}
    <table>
        <!-- Day -->
        <tr>
            <th colspan="6"><h4 class="plan">Day {{forloop.counter}}</h4></th>
        </tr>
        <!-- Section for Attraction -->
        <tr>
            <td colspan="6"><h5>Attractions/Things To Do</h5></td>
        </tr>
        {% for attraction in day.attractions %}
        <!-- Attraction One -->
        <tr>       
            <td><h6><a href={{attraction.url}}>{{attraction.name}}</a></h6></td>
            <td colspan="1">Rating: {{attraction.rating}}/5 (From {{attraction.number_of_reviews}} Reviews)</td>
            <td colspan="2" class='last'>{{attraction.hours}}</td>
        </tr>
        <tr>
            <td colspan="6">Address: {{attraction.location}}</td>
        </tr>
        <tr>
            <td colspan="6">Description: {{attraction.description}} </td>
        </tr>
        {% endfor %}

        <!-- Section for Hotel -->
        <tr>
            <td colspan="6"><h5>Hotels</h5></td>
        </tr>
        {% for hotel in day.hotel %}
        <tr>       
            <td><h6>{{hotel.property_name}}</h6></td> 
            <td colspan="1"></td>
            <td colspan="2" class="last">${{hotel.min_daily_rate.amount}}</td>
        </tr>
        <tr>
            <td colspan="6">Address: {{hotel.address.line1}}, {{hotel.address.region}}, {{hotel.address.postal_code}}, {{hotel.address.city}}, {{hotel.address.country}}</td>
        </tr>
        {% endfor %}

        <!-- Section for Restaurant -->
        <tr>
            <td colspan="6"><h5>Restaurants</h5></td>
        </tr>
        <!-- lunch  -->
        {%if day.restaurant.lunch %}
        <tr>       
            <td><h6>{{day.restaurant.lunch.name}}</h6></td>   <!-- (Add a link?) -->
            <td colspan="1"></td>
            <td colspan="2" class="last">{{day.restaurant.lunch.price}}</td>
        </tr>
        
        <tr>
            <td>Address: {{day.restaurant.lunch.address.0}}, {{day.restaurant.lunch.address.1}} </td>
            <td colspan="5" class="last">Rating: {{day.restaurant.lunch.rating}}/5 (From {{day.restaurant.lunch.review_count}} Reviews)</td>
        </tr>
        {% endif %}
        <!-- dinner -->
        {%if day.restaurant.dinner %}
        <tr>       
            <td><h6>{{day.restaurant.dinner.name}}</h6></td>   <!-- (Add a link?) -->
            <td colspan="1"></td>
            <td colspan="2" class="last">{{day.restaurant.dinner.price}}</td>
        </tr>
        <tr>
            <td>Address: {{day.restaurant.dinner.address.0}}, {{day.restaurant.dinner.address.1}}</td>
            <td colspan="5" class="last">Rating: {{day.restaurant.dinner.rating}}/5 (From {{day.restaurant.dinner.review_count}} Reviews)</td>
        </tr>
        {% endif %}
    </table>
{% endfor %}

<a class="btn btn-danger btn-lg print-button" href="{% url 'search' %}" role="button">Make Another Plan</a>
<a href="javascript:window.print()" role="button" class="btn btn-success btn-lg print-button">Get Printable Version</a>
</div>  



<!-- <script type="text/javascript" src="index.js"></script> -->

<!-- footer starts -->

{% include "trip/footer.html" %}