{% load static %}
{% include "trip/header.html" %}
<!-- header ends -->

<div class="container" id="mainbody" style="height:auto; margin-bottom: 150px">
    <h2>Get Your Itinerary</h2>
    <form id="myform" action="{% url 'crawl' %}" method="POST"> {%csrf_token %}
        <table style="width:100%; border: 1px solid #e5e5e5;">
            <tr>
                <td>
                    <h4>Step 1 <span style="letter-spacing: 0">Enter the City You'll Depart From and Return to</span></h4>
                    <div class="form-group">
                        <label for="startcity">Depart From:</label>
                        <input name="startcity" id="startcity" class="autocomplete address" type="text" placeholder="San Francisco" required autocomplete="on">
                        <input class="field" id="startcitylat" name="startcitylat" disabled="true" type="hidden"></input>
      					<input class="field" id="startcitylng" name="startcitylng" disabled="true" type="hidden"></input>
                    </div>
                    <div class="form-group">
                        <label for="endcity">Return To:</label>
                        <input name="endcity" id="endcity" class="autocomplete address" type="text" placeholder="San Francisco" required autocomplete="on">
                        <input class="field" id="endcitylat" name="endcitylat" disabled="true" type="hidden"></input>
      					<input class="field" id="endcitylng" name="endcitylng" disabled="true" type="hidden"></input>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Step 2 <span>Enter Your Destination</span></h4>
                    <div class="form-group">
                    	<label for="destination">Destination:</label>
                        <input name="destination" id="destination" class="autocomplete address" type="text" placeholder="New York" required autocomplete="on">
                        <input class="field" id="destinationlat" name="destinationlat" disabled="true" type="hidden"></input>
      					<input class="field" id="destinationlng" name="destinationlng" disabled="true" type="hidden"></input>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <h4>Step 3 <span>Enter Your Travel Date and Length:</span></h4>
                    <div class="form-group">
                        <label for="startdate">Depart On:</label>
                        <input name="startdate" id="startdate" type="date" required>
                        <span class="validity"></span>
                    </div>
                    <div class="form-group">
                        <label for="length">Length of Trip (days):</label>
                        <select class="form-control" id="length" name="length">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3" selected="selected">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                      </select>
                    </div>
                </td>            
            </tr>

            <tr>
                <td>
                    <h4>Step 4 <span>Enter Your Preference</span></h4>
                    <div class="form-group">
                        <label for="time">Time Arrangement:</label>
                        <select class="form-control" id="time" name="time">
                            <option value="" selected disabled>Select how many hours you would like to be arranged each day</option>
                            <option value="1">Casual (Less than 5 hours)</option>
                            <option value="2" selected="selected">Normal (5 to 8 hours)</option>
                            <option value="3">Tight (More than 8 hours)</option>
                        </select>
                    <div class="form-group">
                        <label for="hotel">Budget On Hotel:</label>
                        <select class="form-control" id="hotel" name="hotel">
                            <option value="" selected disabled>Select quality of hotel</option>
                            <option value="1" selected="selected">Economy</option>
                            <option value="2">Mid-scale</option>
                            <option value="3">Luxury</option>
                      </select>
                    </div>
                </td>            
            </tr>

        </table>

        <button class="btn btn-danger btn-lg" type="reset" id="reset">Reset</button>
        <button type="submit" id="submit" class="btn btn-success btn-lg" onclick="showloader();">Submit!</button>
    </form>
    <form id="plan-form" action="{% url 'plan' %}" method="post" style="display: none">
    <input name="finaldata" id="finaldata" type="hidden"></input>
    <button type="submit" id="go" class="btn btn-success btn-lg" style="display: none">Go</button>
    </form>
</div>    

<div id="loader" style="display:none;"></div>
<div id="loader-text1" style="display:none;position: absolute;left:44%;top:58%;font-size: 20px;">Retriving Data...</div>
<div id="loader-text2" style="display:none;position: absolute;left:45%;top:58%;font-size: 20px;">Loading...</div>

<script>
	  var autoplaces = ['startcity','endcity','destination']

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        for (var i = 0; i < autoplaces.length; i++){
        	var elementid = autoplaces[i]
			var auto = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById(elementid)),
            {types: ['(cities)']});
            auto.addListener('place_changed', function(){
            	var place = this.getPlace();
            	document.getElementById(elementid+'lat').value = place.geometry.location.lat();
        		document.getElementById(elementid+'lat').disabled = false;
        		document.getElementById(elementid+'lng').value = place.geometry.location.lng();
        		document.getElementById(elementid+'lng').disabled = false;
				console.log(place.geometry.location.lat(), place.geometry.location.lng())
            });
    	};
      }

</script>
<script type='text/javascript' src="{% static 'trip/config.js' %}"></script>
<script>
var key= config.Googlemapskey;
var script = document.createElement('script');
script.src = "https://maps.googleapis.com/maps/api/js?key="+key+"&libraries=places&callback=initAutocomplete";
script.async = ''
script.defer = ''
document.getElementsByTagName('script')[2].parentNode.appendChild(script);
</script>  

<script>
var globalstate = {
          state: {
          url: '',
          crawlingStatus: null,
          data: null,
          taskID: null,
          uniqueID: null
      },
      statusInterval: 1
}

$('#myform').submit(function(event){
    $.ajax({
      url: $('#myform').attr('action'),
      type: 'POST',
      data : $('#myform').serialize(),
      success: 
        function(response){
            globalstate.state.taskID = response.task_id;
            globalstate.state.uniqueID= response.unique_id;
            globalstate.state.crawlingStatus= response.status;
            globalstate.statusInterval = setInterval(checkCrawlStatus, 2000);
        }
        
    });
    return false;
});

function checkCrawlStatus(){
    $.get($('#myform').attr('action'),
        {task_id: globalstate.state.taskID, unique_id: globalstate.state.uniqueID},
        function(response){
            console.log(response.status)
            console.log(response.data)
            if(response.data || typeof response.status === 'undefined'){
                clearInterval(globalstate.statusInterval);
                document.getElementById("loader-text1").style.display = "none";
                document.getElementById("loader-text2").style.display = "block";
                globalstate.state.data = response.data;
                // alert("finished!")
                console.log(globalstate.state.data)
                var form_data = {};
                $.each($('#myform').serializeArray(), function(_, kv) {
                if (form_data.hasOwnProperty(kv.name)) {
                    form_data[kv.name] = $.makeArray(form_data[kv.name]);
                    form_data[kv.name].push(kv.value);}
                else {form_data[kv.name] = kv.value;}
                });
                var finaldata = {'form_data':form_data, 'crawl_data': globalstate.state.data}
                document.getElementById('finaldata').value = JSON.stringify(finaldata)
                $("#go").click();
            }
            else if(response.error){
                clearInterval(globalstate.statusInterval);
                alert(response.error)
            }
            else if(response.status){
                globalstate.state.crawlingStatus = response.status;
                console.log(response.status)
            }
            else{
                clearInterval(globalstate.statusInterval);
                alert("terminated")
            }
        }
)};

function showloader(){
    document.getElementById("loader").style.display = "block";
    document.getElementById("loader-text1").style.display = "block";
    document.getElementById("mainbody").style.display = "none";
}

</script>

<script type="text/javascript" src="{% static 'trip/search.js' %}"></script>
<!-- footer starts -->

{% include "trip/footer.html" %}