{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>TripPlanner</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <link rel="stylesheet" type="text/css" href="{% static 'trip/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'trip/planprint.css' %}" media="print">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600|Raleway:400,600,700" rel="stylesheet">
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en"></script>
    </head>
    <body>

    <nav class="navbar navbar-default" style="width: 100%; background-color: rgba(0, 0, 0, 0.05); border-radius:0">
        <div class="container-fluid" style="margin: 0 20px">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand brand" href="/trip"><span style="color:rgb(145, 181, 77);">T</span>rip<span style="color:rgb(145, 181, 77);">P</span>lanner</a >
            </div>
            <div class="collapse navbar-collapse" id="bs-nav-demo">
                <ul class="nav navbar-nav navbar-right" >
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% if not request.user.is_authenticated %}
                        <li><a href="{% url 'login' %}">Login</a ></li> 
                        <li><a href="{% url 'register' %}">Sign Up</a ></li>
                    {% else %}
                        <li><a href="#">Signed In As {{request.user.username}} </a></li>
                        <li><a href="{% url 'logout' %}">Logout</a ></li> 
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>