{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>TripPlanner</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <!-- <link rel="stylesheet" href="css/footer-distributed-with-search.css"> -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="static/trip/stylesheets/landing.css"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'trip/landing.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'trip/partial.css' %}">
    </head>
    <body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}"><span style="color:rgb(145, 181, 77);">T</span>rip<span style="color:rgb(145, 181, 77);">P</span>lanner</a >
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="landing.html">About</a ></li>
                    <li><a href="#">Login</a ></li> 
                    <li><a href="#">Sign Up</a ></li>
                    <li><a href="#">Logout</a ></li> 
                </ul>
            </div>
        </div>
    </nav>
<!-- header ends -->


    <div class="container">
        <!-- <div id="landing"> -->
        <div id="landing-header">
                <h1>Welcome to <span style="color:rgb(145, 181, 77);">T</span>rip<span style="color:rgb(145, 181, 77);">P</span>lanner!</h1>
                <h3>Design in seconds your own travel itinerary powered by machine learning algorithms.</h3>
                <a href="{% url 'search' %}" class="btn btn-lg btn-success">Enter Your Destination</a>
        </div>
            
        <!-- <div class="container">  -->
            <ul class="slideshow">
            <li><div class="caption">The Great Wall, Beijing, China</div></li>
              <li><div class="caption">The Manhattan Skyline, New York, U.S.</div></li>
              <li><div class="caption">The Golden Bridge, California, U.S.</div></li>
              <li><div class="caption">Machu Picchu, Cuzco Region, Peru</div></li>
              <li><div class="caption">The Terrace Field, Yunnan, China</div></li>
              <li><div class="caption">Aurora, Reykjavik, Iceland</div></li>
              <li><div class="caption">Lake Nakuru, Kenya</div></li>
            </ul>
    </div>

    <div class="container-fluid" style="width:90%; padding: 0 2%; margin-bottom: 30px">
        <div class="row text-center">
            <div class="col-xs-12 col-md-4 col-sm-4">
                <div class="thumbnail">
                    <img src="{% static 'trip/pics/icon1.svg' %}" width=100% height=100%/>
                </div>
                <div class="intro" >
                    <h4>Intelligent Planner Fueled by Machine Learning</h4>
                       <div style = "margin: 20px auto 0px">
                           Our intelligent planner gathers the most up-to-date information from various sources and integrate them with machine learning algorithm to figure out the best travel plan.
                       </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-sm-4">
                <div class="thumbnail">
                    <img src="{% static 'trip/pics/icon2.svg' %}" width=100% height=100%/>
                </div>
                <div class="intro">
                    <h4>Your Own Itinerary, Customized</h4>
                    <div style = "margin: 20px auto 0px">
                        We value your own need: Your date of vacation, your budget and your preferred way of time-management. No two snowflakes are alike.
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-sm-4">
                <div class="thumbnail">
                    <img src="{% static 'trip/pics/icon3.svg' %}" width=100% height=100%/>
                </div>
                <div class="intro">
                    <h4>Get All Your Need in One Stop</h4>
                    <div style = "margin: 20px auto 0px">
                        No need to consult a travel agency or navigate through numerous websites trying to put the pieces all together. Simply enter your destination and personal preference, and here comes your detailed itinerary!
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- footer starts -->
    <div class="footer" style="position: relative;">
        <span style="color:rgb(145, 181, 77);">T</span>rip<span style="color:rgb(145, 181, 77);">P</span>lanner 2018
        <a class="footer-icons" href="https://github.com/HezhiWang/TripDesigner"><i class="fa fa-github"></i></a>
        <a class="footer-icons" href="mailto:hz1411@nyu.edu"><i class="fa fa-envelope"></i></a> 
    </div>


    </body>
</html>
                      