{% extends "trip/header.html" %}
<!-- <!DOCTYPE html>
<html>
    <head>
        <title>TripPlanner</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/plan.css">
        <link rel="stylesheet" href="stylesheets/partial.css">
        <link rel="stylesheet" href="stylesheets/planprint.css" type="text/css" media="print"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    </head>
    <body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><span style="color:rgb(145, 181, 77);">T</span>rip<span style="color:rgb(145, 181, 77);">P</span>lanner</a >
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="landing.html">About</a ></li>
                    <li><a href="#">Login</a ></li> 
                    <li><a href="#">Sign Up</a ></li>
                    <li><a href="#">Logout</a ></li> 
                </ul>
            </div>
        </div>
    </nav> -->
<!-- header ends -->

<div class="container plan" style="height:auto">
    <h2 style="text-align: center;">Your Itinerary in "Destination"</h2>
    <table>
        <!-- Day -->
        <tr>
            <th colspan="6"><h4 class="plan">Day 1</h4></th>
        </tr>
        <!-- Section for Flight -->
        <tr>
            <td colspan="6"><h5>Flight</h5></td>
        </tr>
        <tr>       
            <td>"StartCity" - "Destination"</td>
            <td colspan="1">"TimeTakingoff" - "TimeLanding"</td>
            <td colspan="2" class="last">"Price"</td>
        </tr>
        <!-- Section for Attraction -->
        <tr>
            <td colspan="6"><h5>Attractions/Things To Do</h5></td>
        </tr>
        <!-- Attraction One -->
        <tr>       
            <td><h6>The Metropolitan Museum of Art</h6></td>
            <td colspan="1">2-3 hours</td>
            <td colspan="2" class="last"><img src="pics/ticket.png" width=45px height=35px></td>
        </tr>
        <tr>
            <td colspan="6">Address: 1000 5th Ave, New York City, NY 10028-0198</td>
        </tr>
        <tr>
            <td colspan="6">Description: At New York City's most visited museum and attraction, you will experience over 5,000 years of art from around the world. The Met is for anyone as a source of inspiration, insight and understanding. You can learn, escape, play, dream, discover, connect. </td>
        </tr>
        <!-- Attraction Two -->
        <tr>       
            <td><h6>Central Park </h6></td>
            <td colspan="1"> 3-5 hours</td>
            <td colspan="2" class="last free">FREE</td>
        </tr>
        <tr>
            <td colspan="6">Address: 59th to 110th Street, Manhattan Borough, from Central Park West to 5th Avenue, New York City, NY 10022</td>
        </tr>
        <tr>
            <td colspan="6">Description:  For more than 150 years, visitors have flocked to Central Park's 843 green acres in the heart of Manhattan. Since 1980, the Park has been managed by the Central Park Conservancy, in partnership with the public. Central Park is open 6 am to 1 am daily. Visit the official website of Central Park to learn more about Park happenings and activities and to learn how you to help Central Park!</td>
        </tr>

        <!-- Section for Hotel -->
        <tr>
            <td colspan="6"><h5>Hotels</h5></td>
        </tr>
        <!-- Hotel One -->
        <tr>       
            <td><h6>414 Hotel</h6></td>   <!-- (Add a link?) -->
            <td colspan="1">Score: 9.4/10 (From 387 Reviews)</td>
            <td colspan="2" class="last">Price:...</td>
        </tr>
        <tr>
            <td colspan="6">Address: 414 West 46 Street, Hell's Kitchen, New York City, NY 10036, United States of America </td>
        </tr>

        <!-- Section for Restaurant -->
        <tr>
            <td colspan="6"><h5>Restaurants</h5></td>
        </tr>
        <!-- Restaurant One-->
        <tr>       
            <td><h6>D'Amore Winebar & Ristorante</h6></td>   <!-- (Add a link?) -->
            <td colspan="1">("Type") French </td>
            <td colspan="2" class="last">$$$$</td>
        </tr>
        <tr>
            <td>Address: West 46 Street, Hell's Kitchen, New York City, NY 10036, United States of America </td>
            <td colspan="5" class="last">Score: 5.0/5 (From 153 Reviews)</td>
        </tr>
    </table>

    <table>
        <!-- Day -->
        <tr>
            <th colspan="6"><h4 class="plan">Day 2</h4></th>
        </tr>
        <!-- Section for Flight -->
<!--         <tr>
            <td colspan="6"><h5>Flight</h5></td>
        </tr>
        <tr>       
            <td>"StartCity" - "Destination"</td>
            <td colspan="2">"TimeTakingoff" - "TimeLanding"</td>
            <td colspan="3" class="last">"Price"</td>
        </tr> -->
        <!-- Section for Attraction -->
        <tr>
            <td colspan="6"><h5>Attractions/Things To Do</h5></td>
        </tr>
        <!-- Attraction One -->
        <tr>       
            <td><h6>The Metropolitan Museum of Art</h6></td>
            <td colspan="1">2-3 hours</td>
            <td colspan="2" class="last"><img src="pics/ticket.png" width=45px height=35px></td>
        </tr>
        <tr>
            <td colspan="6">Address: 1000 5th Ave, New York City, NY 10028-0198</td>
        </tr>
        <tr>
            <td colspan="6">Description: At New York City's most visited museum and attraction, you will experience over 5,000 years of art from around the world. The Met is for anyone as a source of inspiration, insight and understanding. You can learn, escape, play, dream, discover, connect. </td>
        </tr>
        <!-- Attraction Two -->
        <tr>       
            <td><h6>Central Park </h6></td>
            <td colspan="1"> 3-5 hours</td>
            <td colspan="2" class="last free">FREE</td>
        </tr>
        <tr>
            <td colspan="6">Address: 59th to 110th Street, Manhattan Borough, from Central Park West to 5th Avenue, New York City, NY 10022</td>
        </tr>
        <tr>
            <td colspan="6">Description:  For more than 150 years, visitors have flocked to Central Park's 843 green acres in the heart of Manhattan. Since 1980, the Park has been managed by the Central Park Conservancy, in partnership with the public. Central Park is open 6 am to 1 am daily. Visit the official website of Central Park to learn more about Park happenings and activities and to learn how you to help Central Park!</td>
        </tr>

        <!-- Section for Hotel -->
        <tr>
            <td colspan="6"><h5>Hotels</h5></td>
        </tr>
        <!-- Hotel One -->
        <tr>       
            <td><h6>414 Hotel</h6></td>   <!-- (Add a link?) -->
            <td colspan="1">Score: 9.4/10 (From 387 Reviews)</td>
            <td colspan="2" class="last">Price:...</td>
        </tr>
        <tr>
            <td colspan="6">A 414 West 46 Street, Hell's Kitchen, New York City, NY 10036, United States of America </td>
        </tr>

        <!-- Section for Restaurant -->
        <tr>
            <td colspan="6"><h5>Restaurants</h5></td>
        </tr>
        <!-- Restaurant One-->
        <tr>       
            <td><h6>D'Amore Winebar & Ristorante</h6></td>   <!-- (Add a link?) -->
            <td colspan="1">("Type") French </td>
            <td colspan="2" class="last">$$$$</td>
        </tr>
        <tr>
            <td>Address: West 46 Street, Hell's Kitchen, New York City, NY 10036, United States of America </td>
            <td colspan="5" class="last">Score: 5.0/5 (From 153 Reviews)</td>
        </tr>
    </table>
</div>
<div class="container">
    <a class="btn btn-danger btn-lg print-button" href="index.html" role="button">Make Another Plan</a>
    <a href="javascript:window.print()" role="button" class="btn btn-success btn-lg print-button">Get Printable Version</a>
</div>    



<script type="text/javascript" src="index.js"></script>
{% extends "trip/footer.html" %}
<!-- footer starts -->
<!-- <div class="footer" style="position: relative;">
    <span style="color:rgb(145, 181, 77);">T</span>rip<span style="color:rgb(145, 181, 77);">P</span>lanner 2018
    <a class="footer-icons" href="https://github.com/HezhiWang/TripDesigner"><i class="fa fa-github"></i></a>
    <a class="footer-icons" href="mailto:hz1411@nyu.edu"><i class="fa fa-envelope"></i></a> 
</div>



    </body>
</html> -->