td{
	padding: 0px 10px;
}


h4{
  color: rgb(145, 181, 77)
}


input:invalid+span:after {
    content: 'Please enter a valid date.';
    padding-left: 12px;
    color: rgba(71, 106, 48, 0.8);
}

input:valid+span:after {
    /*content: "valid";*/
    padding-left: 5px;
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
  display: none;
}


/*::-webkit-datetime-edit { padding: 0.5em; }*/
/*::-webkit-datetime-edit-fields-wrapper { background: silver; }*/
::-webkit-datetime-edit-text {padding: 0 0.3em; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: rgb(145, 181, 77); }


#submit, #reset {
	margin: 10px auto;
	width: 15%;
}

#reset {
	margin-right: 10px;
}

h4 span {
	color: black; 
	opacity: 0.7;
}


label{
    text-align: left;
}

tr:nth-child(1) label {
	width: 100px;
}

/*tr:nth-child(3) label {
	width: 100px;
}*/

input[type=text] {
    width: 30%;
    padding: 6px 6px;
    margin: 4px 0;
    box-sizing: border-box;
    background-color: white;
    background-origin: content-box;
    background: url("../pics/map-marker-icon.png") no-repeat left 3px center;
    padding-left: 40px;
}

input[type=date]{
	width: auto;
}

input:focus {
    border: 3px solid rgba(145, 181, 77, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(145, 181, 77, 0.6);
    outline: 0 none;
}


select#length,
select#destination,
select#time,
select#hotel
 {
    width: 65%;
    padding: 6px 10px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

